header {
  min-height: 100vh;
  margin-top: 55px;
  background-image: url(https://i.pinimg.com/originals/c0/56/c5/c056c5a179c011fb0f5ba48ca276b75b.gif);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
  scroll-behavior: smooth;
}

section {
  align-items: center;
}

.row {
  margin: 0 !important;
}

#portfolio {
  background-color: red;
    color: white;
  justify-content: center;
}

.portfolio-item {
  width: 30%;
  margin: 10px;
}

#about {
  background-color: green;
  color: white;
}

#about img {
  border-radius: 50%;
}

